<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            &larr; Previous page
        </a>
    {% else %}
        <span class="inactive" style="color: #7e8aa2">&larr;
            Previous page</span>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next page &rarr;</a>
    {% else %}
        <span class="inactive" style="color: #7e8aa2">Next page &rarr;</span>
    {% endif %}
</div>