{% load markdown_tags %}

<article class="post">
    <header>
        <h2 class="post-title">
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2>

        <p class="post-meta">
            <time datetime="{{ article.created|date:'c' }}">
                {{ article.created|date }}
            </time>
        </p>
    </header>

    <div class="post-description">
        {% markdown article.text %}
    </div>

    <hr class="tombstone">

</article>
