{% extends 'base.html' %}
{% load markdown_tags %}

{% block title %}
    {{ article.title }} | {{ block.super }}
{% endblock %}

{% block content %}
    {% include 'texts/_post.html' %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'idziemyjesc';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

{% endblock %}
