{% extends 'base.html' %}
{% load markdown_tags %}

{% block title %}
    All Texts | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Wszystkie wpisy</h1>
    <ul class="articles">
        {% for article in articles %}
            <li>
                <span class="time">{{ article.created|date:"Y-m" }}</span>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
                {% markdown article.excerpt %}
            </li>
        {% empty %}
            <li><span class="time">This page intentionally left blank.</span>
            </li>
        {% endfor %}
    </ul>

    {% include 'texts/_pagination.html' %}
{% endblock %}
