{% extends 'skeleton.html' %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% include '_ga.html' %}

    <meta property="og:site_name" content="{% trans 'Page title' %}"/>
    {% block extra_head %}{% endblock %}
{% endblock head %}

{% block body %}
    <div class="sidebar pure-u-1-4">
        <header class="brand">
            <h1><a href="/">{% trans "Page title" %}</a></h1>
            <h2>{% trans "Page blurb" %}</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'article_by_year' %}">
                            {% trans "All texts" %}
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content pure-u-3-4">
        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="{% url 'feed' %}">RSS</a></li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock body %}
