{% extends 'skeleton.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans|Inconsolata'
          rel='stylesheet' type='text/css'>
{% endblock head %}

{% block body %}
    <div class="sidebar pure-u-1-4">
        <header class="brand">
            <h1>
                <a href="/">
                    Idziemy jeść
                </a>
            </h1>

            <h2>
                Gdzie dobrze zjeść w Krakowie.
                Subiektywny przewodnik Oli&nbsp;i&NonBreakingSpace;Tomka
            </h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'article_by_year' %}">
                            Lista wpisów
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content pure-u-3-4">
        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock body %}
